* { margin:0; padding:0; }


html, body {
  display: flex;
  display: -webkit-inline-box;
  min-height: 100%;
  /*max-height: 100%;*/
  min-width: 100%;
  max-width: 100%;
  font-family: "Graphik Meetup",helvetica,arial,sans-serif;
  font-weight: 600;
}
html{
  /*background-color: white;*/
}

body{
  flex-direction: column;
  /*background-color: red;*/
}

.camp{
  display: flex;
  flex-direction: column;
  min-width: 100%;
  min-height: 100%;
  height: 100%;
  /*background-color: green;*/
}

.header{
  display: flex;
  min-height: 50px;
  max-height: 50px;
  flex-direction: row;
  background-color: red;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  /*background-color: transparent;*/
  background-color: white;
  border-bottom: 1px lightgray solid;

}

.name{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 10px;
  font-weight: 400;

  /*color: gray;*/

}


.bodyz{
  display: flex;
  box-sizing: border-box;
  /* padding: 100px 0 0 0; */
  flex-direction: column;
  /*min-height: 100%;*/
  max-height: 100%;
  /* background-color: red; */
  background-color: rgb(255, 150, 150);
  background-color: white;
  /*justify-content: center;
  padding-top: 10%;*/
/* background-image: url('http://res.cloudinary.com/dxeyfggji/image/upload/v1520425696/222ffa101dc6561d6e254cc65174b76d.jpg');
background-repeat: no-repeat;
background-size: cover;
background-position: center;
background-origin: content-box; */

}

.b-image{
  background-image: url('http://res.cloudinary.com/dxeyfggji/image/upload/v1520427619/2657ac473429f65.jpg');
  /* background-image: url('http://res.cloudinary.com/dxeyfggji/image/upload/c_scale,h_80/v1520427846/San-Francisco-Skyline-2016011246.svg'); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-origin: content-box;
  /* min-height: 100%; */
  min-width: 100%;
  display: flex;
  box-sizing: border-box;
  /* padding: 320px 0 0 0; */
}

.banner{
  position: relative;
  display: flex;
  width: 100%;
  background-color: white;
  min-height: 800px;
  /* top: 50px; */
  opacity: 0.4;
}
.projects{
  display: flex;
  width: 100%;
  min-height: 500px;
  /*background-color: purple;*/
  flex-direction: column;
}

.footer{
  display: flex;
  flex-direction: row;
  /*min-height: 10%;
  max-height: 10%;*/
  min-height: 80px;
  height: 80px;
  /*justify-content: center;*/
  /* background-color: black; */
  /* color: white; */
  background: black;

  /* background-image: url('http://res.cloudinary.com/dxeyfggji/image/upload/v1520428350/San-Francisco-Skyline-2016011246-300px.png'); */

}

.tester{
  display: flex;
  min-width: 100%;
  max-width: 100%;
  object-fit: cover;
  top: 50px;
  position: relative;
  opacity: 0.7;
  height: 700px;
  /*transform: translate;*/

}

.project_section{
  padding: 100px 20px;
  display: flex;
  flex-direction: row;
  border-bottom: 1px lightgray solid;
}

.project_name{
  font-size: 30px;
  font-weight: 400;
  /*max-width: 300px;*/

  margin-bottom: 5px;
  padding-bottom: 15px;
  border-bottom: 1px black solid;

}

.clickdown{
  margin: 20px 0 20px;
  display: flex;
  /*position: absolute;*/
  font-size: 40px;
  max-width: 20%;
  align-self: center;
  /*top: 90%;*/
  top: 725px;
justify-content: center;
width: 100%;
}

.clickup{
  display: flex;
  max-width: 20%;
  width: 100%;
  justify-content: center;
  align-items: center;
  align-self: center;
  margin-bottom: 40px;
}

.logo{
  margin-left: 5px;
}

.downbutton, .upbutton{
  max-width: 50px;
  max-height: 50px;;
  object-fit: contain;
}

.downbutton:hover, .upbutton:hover{
  cursor: pointer;
}
.clickup{

  color:black;
}

.linkedin{
  align-self: center;
  display: flex;
  max-width: 100px;
}

.project_description{
  margin-top: 10px;
}

.created_with{
  margin-top: 15px;
}

.bannerdescrip{
  margin: 20px 0 20px;
  display: flex;
  /*position: absolute;*/
  top: 500px;
  width: 400px;
  text-align: center;
  align-self: center;
  color: white;
  font-size: 18px;
  font-weight: 100;
  font-weight: bold;
  letter-spacing: 3px;
  color: black;
}

.project_leftleft, .project_leftright {
  width: 30%;
  display: flex;
  flex-direction: column;
  /*margin: 0px 30px;*/
  padding: 20px;
  min-width: 250px;
  font-weight: 100;
  justify-content: center;


}

.project_leftright{
  margin-right: 100px;
}

.project_leftleft{
  margin-left: 100px;
}

.project_right{
  display: flex;
  min-width: 500px;
  flex-direction: column;
  align-items: center;
  width: 70%;
}

.macbook{
  display: flex;
  max-width: 100%;
  object-fit: contain;
}
.abbb{
display: flex;
align-self: center;
flex-direction: column;

}

.abcon{
  position: absolute;
  left: 0;
  right: 0;
  top: 450px;

}
.pic{
  margin: 20px 0 20px;
  display: -webkit-inline-box;
  display: flex;
  /*transform: translate(50%,60%);*/

  max-width: 300px;
  max-height: 300px;
  min-width: 300px;
  min-height: 300px;
  /*object-fit: contain;*/
  object-fit: cover;
  -webkit-border-radius: 50%;

  /*position: absolute;*/
  align-self: center;
  /*top: 1.5rem;*/
  /*right: 40%;*/
  top: 150px;
}

.profilepic{
  display: -webkit-inline-box;
  /* border-radius: 50%;
  -webkit-border-radius: 50%; */
  object-fit: cover;
  max-height: 100%;
  max-width: 100%;
  min-width: 100%;
  min-height: 100%;
}

.bio, .contact, .techholder{
  display: flex;
  min-width: 100%;
  justify-content: center;
  flex-direction: column;
  margin-top: 40px;
  padding-bottom: 30px;

}



.bio, .contact{
  border-bottom: 1px lightgray solid;
}

.technologies{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10px;

}

.tech1{
  display: flex;
  max-width: 100px;
  max-height: 100px;
  object-fit: contain;
  min-width: 100px;
  min-height: 100px;
}

.techpic{
  max-width: 100%;
  max-height: 100%;
  min-width: 100%;
  min-height: 100%;
  border-radius: 50%;
}
.about1, .about2, .contact_info{
  display: flex;
  align-self: center;
  margin: 20px;
  font-weight: 100;
  width: 50%;
  justify-content: center;
}

.about-title{
  display: flex;
  font-size: 30px;
  border-bottom: 1px black solid;
  width: 300px;
  align-self: center;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 40px;
  padding-bottom: 20px;
}

.livelink{
  margin-top: 30px;
  text-decoration: none;
  color: blue;

}
.livelink:hover{
  cursor: pointer;
}

.resume{
  margin: 20px 0 20px;
  display: flex;
  align-self: center;
  /*position: absolute;*/
  top: 600px;
  font-size: 20px;
  background-color: #28292b;
  width: 200px;
  flex-direction: column;
justify-content: center;
/*align-content: center;*/
color: white;
text-align: center;
height: 50px;
 border-radius: 7px;

}
.restext{
  text-decoration: none;
  color: white;
}
.contact_title, .techtitle{
  display: flex;
font-size: 30px;
border-bottom: 1px black solid;
width: 300px;
align-self: center;
justify-content: center;
margin-top: 30px;
margin-bottom: 40px;
padding-bottom: 20px;
}

.techtitle{
  width: 500px;
  margin-top: 30px;
}

.spacer{
  width: 10px;
}
